.chat-main
  .chat-main__group-info
    .main-left
      .left-group
        test
      .left-menber
        Menber:name
    .chat-member
    .main-right
      %a{:href => "#"} 
        Edit
        
  

  .chat-main__message-list
  .chat-main__message-form