.side-bar
  .side-ber__user-name
    .UserName 
      .name
        hogehoge
      %ul.iconlist
        %li.icon
          = link_to  "#", class:"icon" do
            = icon('far', 'edit')
        %li.icon
          = link_to   "#", class:"icon" do
            = icon('fas', 'cog')
        
        
      

  .side-ber__group-list  
    .group
      .group-name
        techcamp
      .group-message
        <まだメッセージはありません>
    .group
      .group-name
        techcamp
      .group-message
        <まだメッセージはありません>